doctype html
html
    head
        meta(charset = 'utf-8')
        meta(content="Alex B." name="author")
        meta(name='viewport', content="initial-scale=1.0, width=device-width")
        script(src='https://player.vimeo.com/api/player.js')
        block head
    body
        block content
