@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

.line-1 {
  border-right: 2px solid #377dff;
  font-size: 1rem;
  color: #377dff;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 28em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #377dff;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes moveArrow {
  from{
    bottom: 7%;
  }
  to{
    bottom: 5%;
  }

}