.footer {
  display: flex;
  flex-flow: column wrap;
  padding: 1.5rem 2rem 1rem 2rem;
  //background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 9px 8px -9px #000000 inset;
}

.footer__top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.navigation__item {

}

.footer__socials {
  flex: 1;

}

.footer__side-bar{
  flex: 1;
}

.side-bar {
  display: flex;
  flex-flow: column wrap;
  padding-left: 3rem;

}

.socials-btm {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: flex-end;

}

.navigation__item-footer {
  text-decoration: none;
  color: #77838f;


}

.footer__middle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom-width: thin;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: solid;
}

.footer__about {
  padding: 0.5rem 0 0.5rem 3rem;
  flex: 2.5;

}

.footer__about_text {
  color: #828286;
}

.contact-row-f__content {
  color: #828286;
}

.footer__rights {
  flex: 1.5;
  padding: 0.5rem 0 3rem 1rem;
  text-align: right;
}

.contacts__list_f {
  display:flex;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-end;
}

.footer__bottom {
  display: flex;
  justify-content: center;

}

//.socials-btm{
//  width: 2.5rem;
//  height: 2.5rem;
//}

.socials__item_footer {
  width: 2rem;
  height: 2rem;
  color: #828286;
}

.socials-link_img {
  padding: 0.3rem;
  width: 2rem;
  height: 2rem;
}

.footer__rights_text {
  padding: 0 1rem 1rem 1rem;
  color: #828286;
}

.navigation__item-footer {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  :after {
    display: none;
  }

}

.contacts__item-f{
  display: flex;
}

.footer__logo{
  display: flex;
  flex: 1;
}

.footer__logo_img{
  width: 100%;
  height: 60%;
  margin: auto;
}