.about {

}

.about__list {
  display: flex;
  flex-direction: row;
  margin: 104px -15px 110px - 15px;

}

.about__item {
  background-color: $minty;
  width: 380px;
  height: 250px;
  margin: 0 15px;
  background-size: cover;
  position: relative;

}

.about__img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

.about__item-pics {
  height: 100%;
}

.about__item-pic1 {
  background-image: url("../img/laptop.png");
  &:hover {
    transform: translate(-10px, -10px);
    background: linear-gradient(90deg, rgba(252, 227, 138, 0.5) 0%, rgba(243, 129, 129, 0.5) 100%), url("../img/laptop.png");
    .about__img {
      visibility: visible;
    }

  }

}

.about__item-pic2 {
  background-image: url("../img/headphone.png");
  &:hover {
    transform: translate(-10px, -10px);
    background: linear-gradient(90deg, rgba(252, 227, 138, 0.5) 0%, rgba(243, 129, 129, 0.5) 100%), url("../img/headphone.png");
    .about__img {
      visibility: visible;
    }
  }
}

.about__item-pic3 {
  background-image: url("../img/bush.png");
  &:hover {
    transform: translate(-10px, -10px);
    background: linear-gradient(90deg, rgba(252, 227, 138, 0.5) 0%, rgba(243, 129, 129, 0.5) 100%), url("../img/bush.png");
    .about__img {
      visibility: visible;
    }
  }
}

.about__img-pic {
  display: block;
  background-image: url("../img/USERS.png");
  width: 32px;
  height: 23px;
  margin: 0 auto;

}

.about__img-title {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 10px;
}


