.documents {
  background-image: url("../img/12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  box-shadow: inset 0 0 10px #000000;
  background-attachment: fixed;

  @include phones {
    background-position-x: center;
  }

}

.documents__section {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 50%;
  background: rgba(47, 50, 52, .25);
  color: white;
  padding: 5% 7% 0 2%;

  @include phones {
    right: 0;
    padding: 5% 7% 0 7%;
  }

  @include tablets {
    padding: 5% 7% 0 7%;
  }
}

.section__list {
  list-style-type: none;
}

.section__tittle {
  text-align: center;
  margin-bottom: 12%;
  text-transform: uppercase;
}

.section__list_item {
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.section__list_trigger {
  margin-bottom: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  cursor: pointer;

}

.section__list_content {

  text-transform: initial;
  font-weight: 300;
  overflow: hidden;
  display: none;

}

/////////////

.section__list_item.active__list .section__list_trigger:before {

  transform: rotate(-180deg)
}

.section__list_trigger:after,
.section__list_trigger:before {
  content: "";
  display: block;
  position: absolute;
  left: -1.125rem;
  top: .5rem;
  width: 0;
  height: 0
}

.section__list_trigger:before {
  border-top: .4375rem solid white;
  border-bottom: 0 solid transparent;
  transform: rotate(0deg);
  transition: .3s
}

.section__list_trigger:after,
.section__list_trigger:before {
  border-left: .3125rem solid transparent;
  border-right: .3125rem solid transparent
}

.section__list_trigger:after {
  display: none;
  border-bottom: .4375rem solid white;
  border-top: 0 solid transparent
}
