.form{
  width: 100%;
  margin: 2rem 0;

}
.container-form__title {
 padding-bottom: 3rem;
  text-align: center;
}

.about__svg2 {
  opacity: 0.1;
  position: absolute;
  right: 10px;
  width: 30vw;
  height: 30vh;

  @include phones{
    display: none;
  }
}

.captcha__display{
  display: none;
}